<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Is it hot or cold this weater site will tell</h1>
    <form id="WOEID-form" method="POST" action="/weater">
      <label for="WOED">Enter WOED for wheter prognosis</label>
      <input style=" color: black;"  type="text" name="WOED">
      <input style=" color: blue;" type="submit" value="submit">
      </form>
   </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Try for yourself  (<a href="http://www.woeidlookup.com/">WOED</a>) </h3>
      <ul>
        <li>London 44418 </li>
        <li>San Jose 2488042</li>
        <li>Santiago 349859</li>
        <li>Warsaw 523920</li>
        <li>Berlin 638242</li>       
  </div>
  <p>
  
  </p>
</div>
</div>


</body>
</html>
