<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>







  <% include ../partials/nav.ejs %>


    <h1>Weater page</h1>
    <p>
      <%= weater.title %>
    </p>

    <table class="countriesTable">
      <thead>
        <tr>
          <th>Weather Parameter</th>
          <th>Value</th>
      </thead>
      <tbody>

      </tbody>
    </table>



    <% if (weater) { %>
      <script>
        myVar = JSON.parse('<%- JSON.stringify(weater) %>');


        var state = [];
        var min_temp = 0.0;
        var max_temp = 0.0;
        var predictability = 0.0 ;
        var sourcesCount = myVar.consolidated_weather.length;

        for (i = 0; i < myVar.consolidated_weather.length; i++) {
          state[i] = myVar.consolidated_weather[i].weather_state_name;
          min_temp += parseFloat(myVar.consolidated_weather[i].min_temp);
          max_temp += parseFloat( myVar.consolidated_weather[i].max_temp);
          predictability +=parseFloat(myVar.consolidated_weather[i].predictability);
        }

        function compressArray(original) {
          var compressed = [];
          var copy = original.slice(0);
          for (var i = 0; i < original.length; i++) {
            var myCount = 0;
            for (var w = 0; w < copy.length; w++) {
              if (original[i] == copy[w]) {
                myCount++;
                delete copy[w];
              }
            }
            if (myCount > 0) {
              var a = new Object();
              a.value = original[i];
              a.count = myCount;
              compressed.push(a);
            }
          }
          return compressed;
        };

        var decodedWeather = {
          'min_temp' : (min_temp/sourcesCount).toFixed(2)+'°C',
          'max_temp' : (max_temp/sourcesCount).toFixed(2)+'°C',
          'predictability' : (predictability/sourcesCount).toFixed(2)+'%',
          'sourcesCount' : sourcesCount,
        }
        
        
        state = compressArray(state)
        
        state.forEach(element => {
          decodedWeather[element.value] = (element.count/sourcesCount)*100+'%' ;
          console.log(element);
        });


      //  console.log(decodedWeather);

        
     

        var val

        
 

        var bodyString = '';
        $.each( decodedWeather, function (val, decodedWeather) {

          bodyString += ('<tr><td>' + val + '</td><td>' + decodedWeather + '</td></tr>');
        });
        $('.countriesTable tbody').html(bodyString);




      </script>
      <% } %>



</body>

</html>