<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>


    <h1>Weater page</h1>
    <p>
        <% if (weater) { %>
          <%= weater.title %>
       <% } %>


    

    
    </p>


    <table class="countriesTable">
      <thead>
        <tr>
          <th>Weather Parameter</th>
          <th>Value</th>
          <% if (weater) { %>
          <% for (var prop in weater ) { %>
            <tr><td>
            <%-  prop %> </td><td>
            <%-  weater[prop] %> </td></tr>
      
          <% } %>
          <% } %>

      </thead>
      <tbody>

      </tbody>
    </table>




</body>

</html>  