<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>


    <h1>Weater page</h1>
    <p>
      <%= weater.title %>
    </p>


    <table class="countriesTable">
      <thead>
        <tr>
          <th>Weather Parameter</th>
          <th>Value</th>
               
          <% for (var prop in weater ) { %>
            <%-  weater[prop] %>
            <%-  prop %>
          <% } %>

          <script>
             myVar = JSON.parse('<%- JSON.stringify(weater) %>');
          console.log(myVar)
          </script>

      </thead>
      <tbody>

      </tbody>
    </table>




</body>

</html>  